<%- include ../partials/header %>

<div class="container">
        <div>
            <div class="col-md-3"
                <p class="lead"> Travellers Stop </p>
                <div class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 2</li>
                    <li class="list-group-item">Info 3</li>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responive" src="<%= ccc.image %>">
                <div class="caption-full">
                            <div class="pull-right"> <strong>$ <%= ccc.price %>/night</strong> </div>
                            <h4><a><%= ccc.name %></a></h4>
                            <p><%= ccc.descp %> </p>
                            <p> 
                                <em>Submitted By <%= ccc.writtenby.username %></em>
                            </p>
                            
                            <% if(currUser && ccc.writtenby.id.equals(currUser._id)) { %>
                            <a class="btn btn-xs btn-warning" href="/places/<%= ccc._id %>/edit"> Edit </a>
                            <form class="delete-form" action="/places/<%= ccc._id %>?_method=delete" method="post">
                                <button class="btn btn-xs btn-danger">DELETE</button>
                            </form>
                            <% } %>
                </div>
                </div>
                
                <div class="well">
                    <div class="text-right">
                        <a class="btn btn-success" href="/places/<%= ccc._id %>/comments/new"> Add Comment </a>
                    </div>
                    <hr>
                    <% ccc.views.forEach(function(vws){ %>
                    <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <Strong><%= vws.traveller.username %></Strong>
                                <span class="pull-right"> 3 Days Ago </span>
                                <p>
                                    <%= vws.texts %> 
                                </p>
            <% if(currUser && vws.traveller.id.equals(currUser._id)) { %>   
                <a class="btn btn-xs btn-warning" href="/places/<%= ccc._id %>/comments/<%= vws._id %>/edit">Edit Comment</a>
                
                <form class="delete-form" action="/places/<%= ccc._id %>/comments/<%= vws._id %>?_method=delete" method="post">
                    <button class="btn btn-xs btn-danger">DELETE</button>
                </form>
            <% } %>    
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
</div>



<%- include ../partials/footer %>