<%- include ../partials/header %>

<h1><%= ccc.name %></h1>

<img src="<%= ccc.image %>">

<p><%= ccc.descp %></p>

<p>
    <a class="btn btn-success" href="/places/<%= ccc._id %>/comments/new"> Add Comment </a>
</p>

<% ccc.views.forEach(function(vws){ %>
    <p>
        <strong><%= vws.comment %> by <%= vws.traveller %> </strong>
    </p>
    
<% }) %>

<%- include ../partials/footer %>