<% include ./partials/header %>

<% blogdata.forEach(function(b){ %>
    <div>
        <h2><%= b.title %></h2>
        <img src="<%= b.image %>">
        <p><%= b.body %>...</p>
        <span><%= b.creation %></span>
        <button class="ui button" type="submit"><a href="/blogs/<%= b._id %>">Read More</a></button>
    </div>
<%   } ) %>

<% include ./partials/footer %>