<% include ./partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header"><%= ccc.title %></div>
       <div class="ui top attached ">  
       <div class="item">
          <img class="ui centered rounded image" src="<%= ccc.image %>">
          <div class="content">
              <span><%= ccc.creation.toDateString() %></span>
          </div>
          <div class="description">
              <p><%= ccc.body %></p>
          </div>
          <a class="ui purple basic button" href="/blogs/<%= ccc._id %>/edit">Edit</a>
          <form action="/blogs/<%= ccc._id %>?_method=DELETE" method="POST">
            <button class="ui blue basic button" type="submit">Delete Blog</button>
          </form>
        </div>
    </div>
 </div>

<% include ./partials/footer %>